input{
    padding: 12px 16px;
    border-radius: 4px;
    outline: none;
    font-size: 12px;
    border: 1px solid #bbbbbb;
}

    input::placeholder{
        font-size: 11px;
    }

.input-search{
    padding-left: 40px;
}

.filter-input select{
    border-radius: 4px;
    border: 1px solid #bbb;
    outline: none;
    height: 40px;
    padding: 0;
    padding-left: 16px;
    display: inline-block;
    font-family: "GoogleSans-Regular";
    font-size: 13px;
}

input:focus, select:focus {
    border: 1px solid #019160;
}

.select-in-form select{
    width: calc(100% - 20px);
    height: 40px;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    font-family: "GoogleSans-Regular";
    font-size: 13px;
}

.form-select-item{
    padding: 12px 16px;
    border-radius: 4px;
    width: 240px;
    outline: none;
    font-size: 12px;
    border: none;
}