.m-popup{
    font-family: "GoogleSans-Regular";
    display: none;
    position: relative;
}

.popup-modal {
    opacity: 0.5;
    position: fixed;
    top:0 ;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    z-index: 100;
}

.popup-box {
    position: fixed;
    width: 500px;
    height: 260px;
    z-index: 100;
    background-color: #ffffff;
    top: calc(50% - 130px);
    left: calc(50% - 250px);
    border: 1px solid #bbbbbb;
    border-radius: 5px;
}

.popup-header {
    height: 50px;
    font-size: 15px;
    font-family: "GoogleSans-Regular";
    font-weight: bold;
}

    .popup-header .popup-title{
        font-weight: bold;
        position: absolute;
        top: 24px;
        left: 24px;
    }

    .popup-header .popup-close {
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        height: 30px;
        border-radius: 4px;
        background-color: #ffffff;
        border: none;
        outline: none;
        cursor: pointer;
        background-image: url("/content/icon/x.svg");
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: center;
        cursor: pointer;
    }
        .popup-header .popup-close:hover{
            background-color: #e9ebee;
        }

.popup-body {
    font-size: 13px;
    display: flex;
}

    .popup-body .popup-left{
        height: 30px;
        width: 30px;
        padding-left: 24px;
        padding-top: 24px;
    }

    .popup-body .popup-text{
        padding-top: 24px;
        padding-left: 10px;
    }

.popup-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.popup-footer button {
    height: 40px;
    margin-left: 16px;
}
.btn-close {
    height: 40px;
    border-radius: 4px;
    background-color: #019160;
    color: #ffffff;
    align-items: center;
    font-size: 13px;
    padding-left: 24px;
    padding-right: 24px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-right: 16px;
}
.btn-close:hover {
    background-color: #2fbe8e;
}

.btn-cancel-popup{
    border: none;
    outline: none;
    background-color: #f4f4f4;
    cursor: pointer;
}

.btn-cancel-popup:hover{
    background-color: #e5e5e5;
}