.dialog-modal {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

.dialog-content {
  position: fixed;
  width: 820px;
  height: 890px;
  background-color: #ffffff;
  top: calc(50% - 445px);
  left: calc(50% - 410px);
  border-radius: 5px;
}
.dialog-header {
  width: 100%;
  display: flex;
  margin-bottom: 24px;
  padding: 24px 24px 0 24px;
  box-sizing: border-box;
}

.dialog-header .dialog-header-title {
  padding-right: 24px;
  width: 100%;
  font-size: 15px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
}

.dialog-header .dialog-header-close {
  position: absolute;
  top: 8px;
  right: 8px;
}

.dialog-header .dialog-header-close:hover {
  background-color: #ccc;
}

.dialog-header .dialog-header-close {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  background-color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  background-image: url("../../assets/content/icon/x.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}

.dialog-content .dialog-body {
  display: flex;
  width: 100%;
  height: calc(100% - 61px - 61px - 50px);
  padding: 0 24px;
  box-sizing: border-box;
}
.dialog-body .dialog-img {
  width: 160px;
  height: 100%;
}

.required {
  color: red;
}

.img-field {
  width: 160px;
  height: 160px;
  background-image: url("../../assets/content/img/default-avatar.jpg");
  background-repeat: no-repeat;
  background-size: 160px;
  background-position: center;
  border-radius: 50%;
  border: 2px solid #bbbbbb;
  cursor: pointer;
}

.img-field svg {
  width: 100%;
  height: 100%;
  fill: #bbbbbb;
}

.img-required {
  text-align: center;
}

.dialog-body .dialog-form {
  width: calc(100% - 160px);
  height: 100%;
  margin-left: 24px;
}

.dialog-footer {
  width: 100%;
  margin-top: 45px;
  border-radius: 4px;
  display: flex;
  height: 60px;
  background-color: #e9ebee;
  align-items: center;
  justify-content: flex-end;
}

.dialog-footer .btn-cancel-box {
  position: absolute;
  right: 180px;
  height: 40px;
  padding: 0px 24px;
  border: none;
  outline: none;
  background-color: #e9ebee;
  border-radius: 4px;
  cursor: pointer;
}

.dialog-footer .btn-cancel-box:hover {
  background-color: #bbbbbb;
}

.dialog-footer .btn-save-box {
  position: absolute;
  right: 24px;
  height: 40px;
  padding: 0px 24px;
  width: 144px;
}

.dialog-footer .btn-save-box .icon-save {
  background-image: url('../../assets/content/icon/file-plus.svg');
  height: 20px;
  width: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 8px;
}

.add-employee-text {
  margin-left: 8px;
}

.group-title-underlined {
  background-color: #019160;
  height: 3px;
  width: 70px;
  margin: 8px 0;
}

.form-group-below {
  margin-top: 24px;
}

.dialog-body-right .form-group:first-child {
  margin-top: 0;
}

.form-group .form-row-item .m-row:first-child {
  margin-top: 0;
}

.m-row {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.form-item {
  width: 48%;
}

.form-select-box {
  width: 100%;
  margin-bottom: 16px;
  box-sizing: border-box;
  position: relative;
  border: 1px solid #bbbbbb;
  border-radius: 4px;
}

.m-label {
  margin-bottom: 4px;
}

.m-input {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
}

.form-select {
  padding: 0 16px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #bbbbbb;
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  font-size: 13px;
}

.select {
  padding: 0 16px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #bbbbbb;
  height: 30px;
  box-sizing: border-box;
}

input.border-red {
  border: 1px solid red;
}
