.select-box {
    margin-left: 15px;
    width: 200px;
    box-sizing: border-box;
    position: relative;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
}

/* .select-box-restaurant{
    width: 200px;
    box-sizing: border-box;
    position: relative;
    border-radius: 4px;
} */

.select-box:hover {
    border: 1px solid #e9ebee;
}

.formadd-select-box {
    width: 100%;
    margin-bottom: 16px;
    box-sizing: border-box;
    position: relative;
    border: 1px solid #bbb;
    border-radius: 4px;
}

.formadd-select-box:hover {
    border: 1px solid #e9ebee;
}

.btn-select-box {
    position: absolute;
    padding: 11px 0 11px 16px;
    background-color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 13px;
    right: 0;
    height: 100%;
    width: 36px;
}

.select-box input,
.formadd-select-box input {
    border: none;
    margin: 0 !important;
    height: 16px !important;
}

.formadd-select-box input:hover,
.formadd-select-box input:focus {
    border: none !important;
}

.btn-select-box:hover {
    background-color: #e5e5e5;
}

.btn-select-box .select-box-icon {
    position: absolute;
    right: 12px;
    top: 12px;
}

.dropdown-box {
    z-index: 15;
    position: absolute;
    margin-top: 5px;
    box-sizing: border-box;
    box-shadow: 0 0 5px #bbb;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
    width: 100%;
}

.dropdown-box .dropdown-item {
    height: 40px;
    background-color: #fff;
}

.dropdown-item-first {
    margin-top: 5px;
}

.dropdown-item-last {
    margin-bottom: 5px;
}

.dropdown-item .dropdown-item__icon {
    position: absolute;
    display: flex;
    width: 16px;
    height: 40px;
    color: white;
    font-size: 13px;
    padding-left: 10px;
    align-items: center;
}

.dropdown-item input[type="radio"] {
    display: none;
}

.dropdown-item input[type="radio"]:checked~label {
    background-color: #019160;
    color: #ffffff;
}

.dropdown-item label {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 36px;
    transition: 0.15s;
}

.dropdown-item label:hover {
    cursor: pointer;
    background-color: #e9ebee;
    color: #fff;
}