.dropdown{
    position: absolute;
    top: 100px;
    left: 100px;
    width: 260px;
    height: 40px;
    display: flex;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #bbbbbb;
}

    .dropdown .dropdown-button{
        width: 40px;
        height: 100%;
        border-left: 1px solid #bbbbbb;
        box-sizing: border-box;
        outline: none;
        padding: 12px;
        background-image: url(/content/icon/chevron-down.svg);
        background-repeat: no-repeat;
        cursor: pointer;
        background-position: center;
    }

    .dropdown .dropdown-button:hover{
        background-color: #bbbbbb;
    }

    .dropdown .dropdown-filter-input{
        border: none;
        height: 100%;
        width: calc(100% - 40px);
        outline: none;
    }