.dropdown{
    position: absolute;
    top: 100px;
    left: 100px;
    width: 260px;
    height: 40px;
    display: flex;
    cursor: pointer;
}

    .dropdown .filter-input .text-input{
        height: 40px;
        box-sizing: border-box;
        border: 1px solid #bbbbbb;
        border-radius: 4px 0px 0px 4px;
        border-right: none;
        outline: none;
    }

        .dropdown .filter-input .text-input:focus{
            border: 1px solid #019160;
        }

    .dropdown .icon-dropdown-list{
        height: 40px;
        width: 50px;
        border: 1px solid #bbbbbb;
        border-radius: 0px 4px 4px 0px;
        box-sizing: border-box;
        background-image: url(/content/icon/chevron-down.svg);
        background-position: center;
        background-repeat: no-repeat;
    }

        .dropdown .dropdown-list:focus{
            border: 1px solid #019160;
        }