.grid-header{
    margin: 16px;
    overflow: scroll;
    height: calc(100vh - 185px);
}

.visible-scrollbar, .invisible-scrollbar, .mostly-customized-scrollbar {
    display: block;
    /* overflow: scroll; */
}
  
    .invisible-scrollbar::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }
    
    .mostly-customized-scrollbar::-webkit-scrollbar {
        width: 5px;
        background-color: #bbbbbb;
    }
    
    .mostly-customized-scrollbar::-webkit-scrollbar-thumb {
        background: #454545;
    }

table th,td{
    border-bottom: 1px solid #bbbbbb;
    padding: 10px 16px;
    text-align: left;
    /* hiển thị cùng dòng trong td */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

tbody{
    overflow: scroll;
    height: calc(100% - 185px);
}

tr:nth-child(even) {background-color: #f4f4f4;}

tbody tr:hover{
    background-color: #bbbbbb;
}