.header {
    position: relative;
    display: flex;
    align-items: center;
    width: calc(100% - 221px);
    height: 48px;
    border-bottom: 1px solid #bbbbbb;
}

    .header .department-info {
        padding-left: 24px;
        font-size: 16px;      
    }

        .header .department-info select {
            height: 40px;
            width: 240px;
            border: none;
            outline: none;
            cursor: pointer;
            font-weight: bold;
            font-size: 15px;
        }

            .header .department-info option{
                cursor: pointer;
            }


        .header .account-info {
            position: absolute;
            right: 40px;
            display: flex;
            align-items: center;
        }

            .header .account-info .account-avatar {
                width: 30px;
                height: 30px;
                margin: auto;
                border: 1px solid #ccc;
                border-radius: 50%;
                background-image: url('/content/icon/avatar-default.png');
                background-size:contain;
                cursor: pointer;
            }

            .header .account-info .account-name {
                padding-left: 10px;
                padding-right: 16px;
                cursor: pointer;
            }

            .header .account-info .account-option {
                height: 16px;
                width: 20px;
                margin: auto;
                padding-top: 4px;
                cursor: pointer;
                background-image: url(/content/icon/option.png);
            }