.navbar{
    float: left;
    width: 220px;
    height: 100vh;
    background-color: #ffffff;
    border-right: 1px solid #e5e5e5;
    cursor: pointer;
}

    .navbar .logo-site, .navbar .logo-box{
        display: flex;
        width: 204px;
        height: 36px;
    }

        .navbar .logo-box{
            position: absolute;
            top: 12px;
            left: 16px;
            cursor: pointer;
        }

            .navbar .logo-box .toggle-icon{
                width: 24px;
                height: 24px;
                background-image: url(/content/img/toggle.png);
                background-size: contain;
                background-repeat: no-repeat;
            }

            .navbar .logo-box .cukcuk-logo{
                width: 100%;
                height: 24px;
                margin-left: 10px;
                background-image: url(/content/img/cukcuk-logo.png);
                background-size: contain;
                background-repeat: no-repeat;
            }

    .navbar .navbar-content{
        width: 100%;
        margin-top: 12px;
    }

        .navbar .navbar-content .nav-item{
            display: flex;
            padding-left: 16px;
            height: 44px;
            line-height: 44px;
            cursor: pointer;
            text-decoration: none;
            color: #000000;
        }

        .navbar .navbar-content .nav-item:hover{
            background-color: #e5e5e5;
            color: #000000;
        }

        .navbar .navbar-content .nav-item:focus {
            font-size: 13px;
            background-color: #019160;
            color: #ffffff;
        }
        
            .nav-item .nav-item-icon{
                width: 20px;
                height: 20px;
                /* border: 1px solid;
                margin: auto 0; */
                align-self: center;
                margin-right: 8px;
                background-size: contain;
            }

            .nav-item-icon-dashboard{
                background-image: url(/content/icon/dashboard.png);
            }

            .nav-item-icon-report{
                background-image: url(/content/icon/report.png);
            }

            .nav-item-icon-employee{
                background-image: url(/content/icon/dic-employee.png);
            }

            .nav-item-icon-setting{
                background-image: url(/content/icon/setting.png);
            }

            .navbar .navbar-content .nav-item .nav-item-text{
                line-height: 44px;
            }

.active {
    color: #ffffff !important;
    background-color: #019160;
}